{% extends 'newApp/base.html' %}
{% load static %}

{% block title %} Add User {% endblock %}

{% block body %}
    <div class="jumbotron">
        {% if registered %}
            <h1>Thanks for registering!</h1>
        {% else %}
        <h1>Register here!</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            {{ form_extension.as_p }}
            <input type="submit" value="submit" class="btn btn-primary">
        </form>
        {% endif %}
    </div>


{% endblock %}